{% extends "base-report.html" %}
{% block content %}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
        {% include "sections/info.html" %}
        {% include "sections/errors.html" %}
        {% include "sections/file.html" %}
        {% include "sections/signatures.html" %}
        {% include "sections/_summary.html" %}
    </div>
    <div class="tab-pane fade" id="behavior" role="tabpanel" aria-labelledby="behavior-tab">
        {% include "sections/behavior.html" %}
    </div>
    <div class="tab-pane fade" id="dropped" role="tabpanel" aria-labelledby="dropped-tab">
        {% include "sections/dropped.html" %}
    </div>
    <div class="tab-pane fade" id="payloads" role="tabpanel" aria-labelledby="payloads-tab">
        {% include "sections/payloads.html" %}
    </div>
    <div class="tab-pane fade" id="procdump" role="tabpanel" aria-labelledby="procdump-tab">
        {% include "sections/procdump.html" %}
    </div>
    <div class="tab-pane fade" id="debugger" role="tabpanel" aria-labelledby="debugger-tab">
        {% if debugger %}
            {% include "sections/debugger.html" %}
        {% endif %}
    </div>
    <div class="tab-pane fade" id="js_log" role="tabpanel" aria-labelledby="js_log-tab">
        {% include "sections/js_log.html" %}
    </div>
</div>
{% endblock %}
